{% extends 'layout.html.twig' %}

{% block navigation %}
     <div class="row">
         {{ knp_menu_render('main') }}
     </div>
{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                {% if not loop.last %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb_item.label }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endblock %}
