{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Oups !</h1>
    </div>
    <div class="row">
        <p class="align-content-center">Cette page est temporairement indisponible</p>
    </div>
    <div class="row">
        <p><a href="{{ path('home') }}">Retour &agrave; page d'acceuil</a>.</p>
    </div>
{% endblock %}